body {
  font-family: 'Trebuchet MS';
}

h1 {
  color: #FFF;
  font-size: 100px;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 40px;
  line-height: 50px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

img.logo {
  border-radius: 150px;
  border: 1px #FFF solid;
  height: 300px;
  margin-right: 50px;
  width: 300px;
}

#inicio {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #36558F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

#inicio .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inicio .info .description {
  color: #FFF;
  line-height: 35px;
}

#inicio a {
  color: #1B98E0;
}

#inicio a:hover {
  color: #AAC6FB;
}

#exemplo {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 30px;
}

#exemplo .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#exemplo .info .description {
  line-height: 35px;
  margin-top: 30px
}

#politica-de-privacidade {
  background-color: #6290C8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

#politica-de-privacidade .description {
  line-height: 25px;
  margin: 20px 0;
}

#politica-de-privacidade a {
  color: #FFF;
}

#politica-de-privacidade a:hover {
  color: #006494;
}

#contato {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

#contato p {
  line-height: 35px;
}

#contato a {
  color: #1B98E0;
}

#contato a:hover {
  color: #36558F;
}
