body {
  font-family: 'Trebuchet MS';
}

h1 {
  color: #FFF;
  font-size: 100px;
}

h2 {
  font-size: 65px;
}

h3 {
  font-size: 40px;
  line-height: 50px;
}

p {
  font-size: 18px;
}

a {
  text-decoration: none;
}

.logo-container {
  display: inline-block;
  border-radius: 50%;
      -khtml-border-radius: 50%;
  border: 1px #FFF solid;
  height: 300px;
  margin-right: 50px;
  width: 300px;
}

img.logo {
  border-radius: 50%;
      -khtml-border-radius: 50%;
  height: 300px;
  width: 300px;
  vertical-align: middle;
}

#inicio {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #36558F;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#inicio .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#inicio .info .description {
  color: #FFF;
  line-height: 35px;
}

#inicio a {
  color: #1B98E0;
}

#inicio a:hover {
  color: #AAC6FB;
}

#exemplo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

#exemplo h2 {
  text-align: center;
}

#exemplo p {
  line-height: 50px;
  font-size: 25px;
}

#politica-de-privacidade {
  background-color: #6290C8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
}

#politica-de-privacidade .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#politica-de-privacidade .description {
  line-height: 25px;
  margin: 20px 0;
}

#politica-de-privacidade a {
  color: #FFF;
}

#politica-de-privacidade a:hover {
  color: #006494;
}

#contato {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px;
}

#contato p {
  line-height: 35px;
}

#contato a {
  color: #1B98E0;
}

#contato a:hover {
  color: #36558F;
}

.tabs {
  position: relative;
  clear: both;
  min-height: 1080px;
  margin-top: 40px;
}

.tab {
  float: left;
}

.tab [type=radio] {
  display: none;
}

[type=radio] ~ label {
  background: white;
  border: 2px solid #6290CB;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  color: #6290CB;
}

[type=radio]:checked ~ label {
  background: #6290CB;
  color: white;
  z-index: 2;
}

[type=radio]:checked ~ label ~ .content {
  z-index: 1;
}

.content {
  background: white;
  position: absolute;
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 20px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
